<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for("static", filename="styles.css") }}">
	<title>Edit Restaurant</title>
</head>
<body>
	<h1>Edit {{ restaurant.name }}</h1>
	<p><a href="{{ url_for("showRestaurants") }}">Cancel</a></p>
	<form method="POST" enctype="multipart/form-data" action="{{ url_for("editRestaurant", restaurant = restaurant.id) }}">

        <label>Name: </label><input name="name" type="text" value="{{ restaurant.name }}"><br />
        <input type="submit" value="Submit">

    </form>
</body>
</html>